:root {
  --text-color: #667085;
  --main-color: #8e2424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.links a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 2rem;
}

button {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  background: none;
  color: var(--text-color);
  font-size: 0.9rem;
}

button#signUp {
  background-color: var(--main-color);
  color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25.43;
  padding: 6rem;
  gap: 1.5rem;
}

.header-span {
  width: 90%;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  color: var(--main-color);
}

.header-titulo {
  width: 80%;
  height: 3.75rem;
  padding: 0px 32px 0px 32px;
  gap: 12px;
  font-size: 3rem;
  font-weight: bold 600;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #101828;
}

.header-paragrafo {
  display: flex;
  align-items: center;
  width: 88%;
  height: 5.8rem;
  padding: 32px 0 32px 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: var(--text-color);
}

main {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  padding: 0 0 1rem 0;
  gap: 2rem;
  margin: 0 auto;
}

.metricas-container {
  display: flex;
  width: 100%;
  height: 44.5vh;
  padding: 0 1rem;
  gap: 2rem;
}

.metricas-estatisticas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media (max-width: 768px) {
  .metricas-estatisticas {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
  }
}

@media (max-width: 480px) {
  .metricas-estatisticas {
    grid-template-columns: 1fr; /* 1 coluna em telas bem pequenas */
  }
}

.metricas-metricas {
  display: flex;
  flex-direction: column;
  width: 1, 216px;
  height: 192px;
  gap: 20px;
}

.metricas-texto {
  display: flex;
  flex-direction: column;
  width: 280p;
  height: 108px;
  gap: 8px;
}

.metricas-numero {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--main-color);
}

.metricas-subtitulo {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: Medium 1.5;
  text-align: left;
}

.metricas-paragrafo {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--text-color);
}

.vagas-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 6rem 0;
  gap: 64px;
}

.vagas-container img {
  width: 95%;
  max-width: 1216px;
  margin: 0 auto;
}

.vagas-talentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.vagas-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.27rem;
  border-radius: 1rem;
  background: #8e24240d;
  color: var(--main-color);
}
.vagas-titulo {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
}

.vagas-comentario {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
}

.vagas-abertas {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 0 auto;
}

.vaga {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 44.75;
  gap: 2rem;
}
.vaga-informacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.5rem;
  padding: 24px 24px 28px 24px;
  gap: 1.5rem;
  border-radius: 16px;
  border: solid 1px #eaecf0;
  margin: 0 auto;
  color: #101828;
}

.titulo-vaga {
  width: 100%;
  height: 3.5vh;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #101828;
}

.informacoes {
  display: flex;
  width: 550px;
  height: 3vh;
  gap: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #667085;
}

.depoimentos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding: 0 0 6rem 0;
}

.depoimentos-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 88%;
  height: 404px;
  padding: 64px;
  gap: 32px;
  border-radius: 16px;
  text-align: center;
  background: #c3191908;
}

.depoimentos-texto span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--main-color);
}

.depoimentos-texto h2 {
  width: 100%;
  height: 5.5rem;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #101828;
}

.depoimento-avatar img {
  width: 56px;
  height: 56px;
  border-radius: 200px;
}

.depoimento-avatar h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #101828;
}

.depoimentos-texto p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 430px;
  padding: 96px 0px 96px 0px;
  gap: 32px;
  background: #f9fafb;
}

.formulario-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 182px;
  gap: 20px;
}

.formulario-input h2 {
  width: 100%;
  height: 44px;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #101828;
}

.formulario-input p {
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}

.input-email {
  display: flex;
  align-items: center;
  width: 492px;
  height: 48px;
  gap: 16px;
}

.input-email input {
  width: 360px;
  height: 42px;
  padding: 12px 14px 12px 16px;
  gap: 8px;
  border-radius: 8px;
  border: solid 1px #d0d5dd;
}

.formulario-container span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #98a2b3;
}
